USE master
GO

ALTER DATABASE {{ db_name }} SET RECOVERY SIMPLE;
GO

ALTER DATABASE {{ db_name }} SET SINGLE_USER WITH ROLLBACK IMMEDIATE;
GO

RESTORE DATABASE {{ db_name }} FROM DISK = '{{ backup_path }}' WITH RECOVERY;
GO

ALTER DATABASE {{ db_name }} SET MULTI_USER;
GO
